body {
  background-color: #f9f7fe;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background:   #8ef6e4;
  padding: 30px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border-radius: 10px;
 ;

}

h1 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
}

h2 {
    margin: 0 0 5x;
    font-size: 28px;
}

select {
    display: block;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    padding 10px;
     font-family: "Josefin Sans", sans-serif;
     background-color:#c9fdd7;
     border:none
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}

.city:last-child {
    border: none;
}



.date {
    opacity: 0.7;
}

.time {
    font-size: 48px;
    font-weight: bold;
}

.time small {
    font-size: 24px;
    vertical-align: middle;
    line-height: 36px;
}




footer {
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Josefin Sans", sans-serif;
  margin-top:-30px;
}

a {
    color: darkblue;
}
